@media only screen and (min-width: 1450px) {
  #our-awards::after {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .card:first-child {
    border: 1px solid #cc723f;
  }
}
@media only screen and (max-width: 767px) {
  .play-video {
    width: 70px;
    height: 70px;
  }
  .footer-part2 {
    border-left: 0px !important;
    border-right: 0px !important;
  }
  .about-video-area {
    height: 400px;
  }
}
@media only screen and (max-width: 567px) {
  nav .navbar-brand img {
    max-width: 60px;
    min-height: 60px;
  }
  .play-video {
    width: 70px;
    height: 70px;
  }
}
