@media only screen and (min-width: 1450px) {
  .navbar-light .navbar-nav::before,
  .navbar-light .navbar-nav::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 250px; /* Default line length */
    height: 1px; /* Line thickness */
    background-color: black; /* Line color */
  }
  #our-awards::after {
    display: block;
  }

  .navbar-light .navbar-nav::before {
    left: -270px; /* Adjust to position the line on the left */
  }

  .navbar-light .navbar-nav::after {
    right: -270px; /* Adjust to position the line on the right */
  }
}
@media only screen and (max-width: 767px) {
  .play-video {
    width: 70px;
    height: 70px;
  }
  .footer-part2 {
    border-left: 0px !important;
    border-right: 0px !important;
  }
  .about-video-area {
    height: 400px;
  }
}
@media only screen and (max-width: 567px) {
  nav .navbar-brand img {
    max-width: 60px;
    min-height: 60px;
  }
  .play-video {
    width: 70px;
    height: 70px;
  }
}
